
/* fonts */
body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6, .navbar, .menu {
    font-family: 'Red Hat Display', sans-serif;
}

p, a .text {
    font-family: 'Roboto', sans-serif;
}

/* fonts end */

/* overlay */
        .img-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.4s ease;
}

/* overlay */
.img-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
}

/* hover effect */
.img-wrapper:hover img {
  transform: scale(1.05);
}

.img-wrapper:hover .img-overlay {
  background: rgba(0, 0, 0, 0.25); /* halka black shade */
}





    